.item {
    margin: 0.3rem 0;
    padding: 0.5rem 8px;

    border-radius: 5px;
    background-color: rgba(137, 43, 226, 0.684);

    list-style-position: inside;
    overflow-wrap: break-word;
}
.item > button {
    margin-left: 0.3rem;
}

.delete-item {
    background: none;
    border: none;

    color: red;

    font-size: 1.3rem;
    cursor: pointer;
    text-shadow: 0.7px 2px 0.7px black;

}

.move-item {
    background: none;
    border: none;
    color: #32fc9e;

    font-size: 1.3rem;

    cursor: pointer;
    text-shadow: 0.7px 1.5px 1px black;
}