* {
    box-sizing: border-box;
}

:root {
    font-size: 14px;
    font-family: sans-serif;
    
    background-color: #252525;
    color: #dfdfdf;
}

body {
    margin: 0;
}

#root {
    min-width: 100vw;
    min-height: 100vh;
}